/* Importing My CSS Component Library Ingredients  */
@import url("https://ingredient.netlify.app/css/main.css");
/* Getting Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

/* Defining root colors for the brand */
:root{

    /* font colors  */
    --font-primary: #16162E;
    --font-gray: #202020;
    --font-gray-light: #eef0f1;

    /* backgorund colors  */
    --background-skyblue-opaque: #D5F0DB;

    /* brand */
    --brand-color: #40AA54;

    /* font */
    font-family: 'Poppins', sans-serif;
}